<div name="weather" class="container">
  <div class="row">
    <div class="col-1">
      <img src="<%= w['condition']['icon'] %>"></img>
    </div>
    <div class="col-2">
      <div>
        <%= w['condition']['text'] %>
      </div>
      <div>
        Temp: <%= w['temp_f'] %> °F
      </div>
      <div>
        Wind: <%= w['wind_mph'] %> mph
      </div>
    </div>
  </div>
</div>
